.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(255, 166, 0);

}

.footer p {
  margin: 0;
}
